<%= content_for :head do %>
  <%= javascript_include_tag "jquery.treeview", "jquery.quicksand"%>
  <script type='text/javascript'>
    $(function() {
        $("#categories").treeview();
        $("#categories a").live("click", function() {
            $.ajax({
                url: $(this).attr("href"),
                type: "get",
                dataType: "html",
                success: function(data) {
                    $('#products').quicksand( $(data).find('li'), { adjustHeight: 'dynamic' } );
                }
            });
            return false;
         });
    });
  </script>
<% end %>

<div id='sidebar' class="grid_3 ">
  <ul id='categories' class='filetree grid_3'>
    <% Category.roots.each do |root| %>
      <%= treeview(root) %>
    <% end %>
  </ul>
</div>

<div class="grid_9 ">
  <ul id='products'>
    <% @products.each do |product| %>
      <li data-id='<%= product.id%>'>
        <%= image_tag product.image.url(:thumb) %>
      </li>
    <% end %>
  </ul>
</div>
