<%= content_for :head do %>
  <%= javascript_include_tag "jquery.treeview", "jquery.quicksand"%>
  <script type='text/javascript'>
    $(function() {
        $("#categories").treeview();
        $("#categories a").live("click", function() {
            $.ajax({
                url: $(this).attr("href"),
                type: "get",
                dataType: "html",
                success: function(data) {
                    $('#products').quicksand( $(data).find('li'), { adjustHeight: 'dynamic' } );
                }
            });

            $("div#title").html('<h1>All the products: '+$(this).html()+'</h1>');

            return false;
         });
    });
  </script>
<% end %>

<div id='title'><h1>All the products</h1></div>

<div class="grid_3">
  <ul id='categories' class='filetree'>
    <% Category.roots.each do |root| %>
      <%= treeview(root) %>
    <% end %>
  </ul>
</div>

<div class="grid_9">
  <ul id='products'>
    <% @products.each do |product| %>
      <li data-id='<%= product.id%>'>
        <%= link_to image_tag(product.image.url(:thumb), :size => '100x100>'), product %>
      </li>
    <% end %>
  </ul>
</div>
