<!DOCTYPE html>
<html>
<head>
  <title>Wigdom</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min", "rails", "application" %>
  <%= include_tiny_mce_if_needed %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= link_to "Product", admin_products_path %> |
  <%= link_to "Category", admin_categories_path %>
  <hr>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <hr>
  <a href="/admins/sign_out">Sign out</a> | <a href="/">Main</a>
</body>
</html>
