<!DOCTYPE html>
<html>
<head>
  <title>Wigdom</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min", "rails", "application" %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class="container_12">
    <div class="grid_12 ">
      <ul id='nav'>
        <li><a href='/'>Home</a><li>
        <li><a href='/about'>About us</a></li>
        <li><a href='/contact'>Contact us</a></li>
        <li><a href='/message'>Leave a message</a></li>
        <li><a href='/admin'>Admin</a></li>
      </ul>
    </div>
  </div>

  <div id="content" class="container_12">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
